* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat';
	color: #dedede;
}

.container {
	max-width: 1510px;
	padding: 0 15px;
	margin: 0 auto;
}

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.header {
	background-image: url('../images/header-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 100vh;
}

.header__top {
	padding: 28px 0;
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__list {
	display: flex;
	align-items: center;
	margin-right: 150px;
}

.header__list li + li {
	margin-left: 50px;
}

.header__list-item {
	color: #f0f0f0;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	transition: all 0.3s;
	text-wrap: nowrap;
}

.header__list-item:hover {
	color: #006aff;
}

.tele-btn {
	display: inline-block;
	color: #fcfcfc;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	padding: 18px 68px 18px 40px;
	border-radius: 30px;
	background: #2c66b8;
	border: 1px solid #2c66b8;
	transition: all 0.3s;
	position: relative;
}

.tele-btn span::after {
	content: '';
	position: absolute;
	background-image: url('../images/telegram.svg');
	width: 21px;
	height: 19px;
	right: 41px;
}

.tele-btn:hover {
	background-color: transparent;
}

.header__content {
	max-width: 725px;
	margin-top: 300px;
}

.header__content-title {
	margin-bottom: 65px;
	color: #f0f0f0;
	font-family: Montserrat;
	font-size: 76px;
	font-weight: 600;
	line-height: 78px; /* 102.632% */
}

.header__content-title span {
	color: #545ae8;
}

.header__content-text {
	color: #dedede;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px; /* 155.556% */
	font-variant: small-caps;
	margin-bottom: 75px;
	max-width: 540px;
}

.subjects {
	background-image: url('../images/subjects-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
}

.subjects__menu {
	padding: 140px 0;
}

.subjects__list-item {
	color: #f0f0f0;
	text-shadow: 0px 0px 25px #545ae8;
	font-family: Montserrat;
	font-size: 47px;
	font-weight: 600;
	line-height: 309.016%; /* 145.238px */
}

.how {
	background-image: url('../images/how-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 1000px;
	padding: 17px 0 40px;
}

.how__logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.how__title {
	color: #f0f0f0;
	text-shadow: 0px 0px 18.7px #545ae8;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 44px; /* 95.652% */
	margin-bottom: 92px;
	text-align: center;
}
.how__items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}
.how__item {
	width: 290px;
	text-align: center;
}
.how__item-img {
	margin-bottom: 40px;
	position: relative;
}

.how__item-img::before {
	content: '';
	position: absolute;
	width: 101px;
	height: 101px;
	background-image: url('../images/how-decor.svg');
	background-repeat: no-repeat;
	right: 94px;
	top: -29px;
}

.how__item-title {
	color: #f0f0f0;
	text-shadow: 0px 0px 34.1px #545ae8;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 125% */
	margin-bottom: 13px;
}
.how__item-text {
	color: #f0f0f0;
	text-align: center;
	text-shadow: 0px 0px 34.1px #545ae8;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 144.444% */
}
.how__btn {
	display: inline-block;
	padding: 22px 58px;
	color: #f0f0f0;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 600;
	line-height: normal;
	border-radius: 257px;
	background: #545ae8;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #545ae8;
	transition: all 0.3s;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
}

.how__btn:hover {
	background-color: transparent;
}

.questions {
	background-image: url('../images/questions-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 1000px;
	padding: 96px 0 25px;
}

.questions__title {
	color: #f0f0f0;
	text-align: center;
	text-shadow: 0px 0px 16.8px #00e0ff;
	font-family: Montserrat;
	font-size: 52px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	background: rgba(84, 90, 232, 0.01);
	box-shadow: 0px 0px 151.2px 0px rgba(84, 90, 232, 0.34) inset,
		0px 0px 40.9px 0px rgba(84, 90, 232, 0.18);
	max-width: 650px;
	margin: 0 auto 157px;
}
.questions__items {
	display: grid;
	grid-template-columns: repeat(3);
	row-gap: 50px;
}
.questions__item {
	padding: 40px;
	border-radius: 28px;
	border: 1px solid rgba(84, 90, 232, 0.62);
	background: rgba(1, 1, 1, 0.84);
	width: 600px;
	min-height: 304px;
}

.questions__item:last-child {
	grid-column: 1 / 3;
	justify-self: center;
	transform: translateX(-50px);
}

.questions__item-title {
	color: #f0f0f0;
	text-align: center;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%; /* 41.6px */
	margin-bottom: 25px;
}
.questions__item-text {
	color: #a4a4a4;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 109.016%; /* 26.164px */
}

.dodiks__images {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	padding: 100px 0;
	background-color: #061223;
}

.dodiks__images img{
	max-width: 60%;
	object-fit: cover;
}

.dodiks__images:first-child {
	width: 100%;
}
